/* navbar */
.navbar {
  height: 72px;
  background-color: #ffffff;
}

.navSearch {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.collapse {
  /* z-index: 1; */
}

/* banner */

.bgImage {
  background-image: url("./Rectangle21.png");
  height: 440px;
  top: 72px;
  transition: 2s all;
}

.bgImage .mask {
  height: 440px;
  position: relative;
}

.back-btn {
  margin-top: 24px;
  margin-left: 20px;
}

.join-btn {
  position: absolute;
  /* margin-left: 65%; */
  margin-top: 20px;
  transition: 800ms all;
}

.container-heroImg {
  /* width: 90%;
  margin-left: auto;
  margin-right: auto; */
  position: relative;
  /* border: 1px solid red; */
}

.text-white {
  position: absolute;
  margin-top: 300px;
  margin-left: 100px;
  transition: 2s all;
}

/* Feed */
/* .containerFeed {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
} */
.feedContainer {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.card {
  height: auto;
}

.card-body {
  padding-right: 20px;
}

.card-title {
  width: 77px;
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  color: #000000;
  display: flex;
  gap: 6px;
}

.card-text {
  width: 550px;
  /* height: 60px; */
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 29.52px;
  color: #000000;
}

.card-text2 {
  font-weight: 400;
  font-size: 19px;
  line-height: 25.49px;
  color: #5c5c5c;
  max-width: 652px;
  height: 25px;
  overflow: hidden;
}

.profile-text {
  color: #000000;
  display: flex;
  /* border: 1px solid; */
  height: 48px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.profile-text img {
  width: "48px";
  height: "48px";
}

.profile-text p {
  font-weight: 600;
  font-size: 18px;
  line-height: 23.4px;
  height: 24px;
  padding: 8px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots:hover {
  width: 36px;
  height: 32px;
  background-color: #bfbfc0;
  border-radius: 4px;
}

.share-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 36px;
}

/* media queries */

@media screen and (max-width: 768px) {
  .containerNavbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .collapse {
    z-index: -2;
  }

  .feedContainer {
    width: none;
    margin-left: none;
    margin-right: none;
  }

  .container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .container {
    position: relative;
    max-width: 767px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  .join-btn {
    margin-left: 82%;
  }

  .card {
    margin-right: 0px;
    position: relative;
    width: 759px;
    height: auto;
    border: none;
    /* border-bottom: #5c5c5c 1px solid; */
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 5px;
    box-shadow: 0px 10px 0px 0px #f1f3f5;
    /* background-color: #fff; */
  }

  .col-xl-9 {
    padding: 0px;
    overflow-x: hidden;
  }

  .card-text {
    /* width: 550px; */
    /* height: 60px; */
    /* font-weight: 600; */
    font-size: 1.3rem;
    /* line-height: 29.52px; */
    /* color: #000000; */
  }

  .card-text2 {
    /* font-weight: 400; */
    font-size: 1.1rem;
    /* line-height: 25.49px; */
    /* color: #5c5c5c; */
    /* width: 500px; */
    /* height: 25px; */
    /* overflow-x: hidden; */
  }

  .navbar {
    height: 72px;
    /* border: 1px solid red; */
  }

  /* .navbar-toggler {
    margin-top: 5px;
  }

  .navbar-brand img {
    margin-top: 5px;
  } */

  .text-white {
    position: absolute;
    margin-top: 300px;
    margin-left: 50px;
    transition: 2s all;
  }

  .container-heroImg {
    width: 100%;
    left: 50px;
  }

  .share-btn {
    width: 70px;
    height: 36px;
  }
}

@media screen and (max-width: 690px) {
  .join-btn {
    margin-left: 80%;
  }
}

@media screen and (max-width: 576px) {
  .text-white {
    position: absolute;
    margin-top: 300px;
    margin-left: 25px;
    transition: 2s all;
  }

  .text-white h1 {
    font-size: 26px;
  }

  .join-btn {
    margin-left: 75%;
  }
}

@media screen and (max-width: 415px) {
  .bgImage {
    background-image: url("../public/images/Rectangle2.png");
    max-width: 415px;
    height: 236px;
    background-size: cover;
    transition: 2s;
  }

  .text-white {
    position: absolute;
    margin-top: 140px;
    margin-left: 25px;
    transition: 2s all;
  }

  .text-white h1 {
    font-size: 17px;
  }
  .text-white p {
    font-size: 12px;
  }

  .bgImage .mask {
    height: 236px;
  }

  .join-btn {
    margin-left: 55%;
  }
}

@media screen and (max-width: 450px) {
  .join-btn {
    margin-left: 70%;
  }
}

@media screen and (max-width: 390px) {
  .join-btn {
    margin-left: 65%;
  }
}

@media screen and (max-width: 320px) {
  .join-btn {
    margin-left: 60%;
  }
}

@media screen and (max-width: 290px) {
  .join-btn {
    margin-left: 55%;
  }
}
